body
{background-color: #CC2647;}

article
{width: 36em;
margin: 0 auto;
max-width: 100%;
line-height: 1.5;
font-size: 18px;
font-family: arial;
font-weight: bold;
color: white;}

article a
{color: white;}

article a:hover
{font-family: "Arial Narrow", Arial, sans-serif;
text-decoration: underline;
text-transform: uppercase;}

h1
{line-height: 1;
word-break: break-word;}

h1 a
{text-decoration: none;}

h2
{font-size: 18px;
line-height: 1;
word-break: break-all;
font-weight: lighter;}

h2 a
{text-decoration: none;}

h2 a:hover
{font-family: arial;
background-color: #3300FF;
color: #CD0033;
text-decoration: none;
text-transform: lowercase;}

h2 a:hover::after
{content:'!';}

@media only screen and (max-width: 320px)
{article{font-size: 16px;}}
